<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <title>
     
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <h1>
            
        </h1>
        <!-- <a href="/skills">Skills</a> -->
        <ul>
            <li>
            <% skills.forEach(function(t) { %>
                
                <a href='/skills/<%=t.id%>'>
                    <%=t.skills %>
                </a>
                <%=t.skills %>
            </a>
                -
                <%= t.done ? 'done' : 'not done' %>
            </li>
            <%}); %>
        </ul>
        
    </body>

</html>